{% extends 'liquidacion/base.html' %}

{% block content %}
<!--TODO use this full_form.html to render all forms, changing the title-->
<h1>Formulario Liquidacion:</h1>
<form name="datos_liquidacion2" id="datosLiquidacion2"  method="post"
      class="pure-form pure-form-aligned">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% include 'liquidacion/form_snippet.html' %}
    <div class="pure-controls">
        <input type="submit"
               class="pure-button pure-button-primary">
    </div>
</form>
{% endblock %}