<!--TODO  make a header from pure.io landing page-->
{% extends 'liquidacion/base.html' %}

{% block content %}
<h1>Home Page:</h1>

<div class="splash-container">

    <div class="splash">
        <h2 class="splash-head">
            Liquidacion Laboral Colombia
        </h2>
            <form name="datos_liquidacion2" id="datosLiquidacion2"  method="post"
                  class="pure-form">
                <fieldset>
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for error in form.non_field_errors %}
                <div class="pure-alert alert-danger">
                    <strong>{{error|escape}}</strong>
                </div>
                {% endfor %}
                <legend>Inicio - Fin - Salario</legend>
                {% for field in form %}
                    {{ field.errors }}
                    {{ field }}
                {% endfor %}
                <button type="submit"
                        class="pure-button pure-button-primary">
                    enviar
                </button>
                </fieldset>

            </form>





        <!--TODO make terminos y condiciones page-->
        <!--TODO when the home app is ready namespace this url-->
        <p class="splash-subhead">Al utilizar esta pagina estas aceptando los <a href="#">terminos y condiciones</a> </p>
        <p class="splash-subhead">
        <a href="{% url 'liquidacion:full_form' %}" class="pure-button pure-button-primary">Formulario Completo</a>
        <a href="{% url 'liquidacion:dias_servicio_form' %}" class="pure-button pure-button-primary">Empleado Por Dias</a>
        <a href="{% url 'liquidacion:obra_labor_form' %}" class="pure-button pure-button-primary">Empleado Por Obra Labor</a>
        <a href="{% url 'liquidacion:termino_fijo_form' %}" class="pure-button pure-button-primary">Termino Fijo</a>
        </p>
        <div id="container"></div>
    </div>
</div>
<div class="content-wrapper">
    <div class="content">
        <h2>Que es Una Liquidacion Laboral?</h2>
        <p>En algun momento llega</p>
    </div>
    <div class="content">
        <h2 class="content-head is-center">Formularios para Liquidacion.</h2>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-4">
                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Formulario Completo
                </h3>
                <p>
                    A traves de esta herramienta usted podrá elaborar cualquier liquidación laboral que necesite, el formulario
                    cuenta con todos los campos necesarios para dar solucion a un sin numero de posibles eventos que se den
                    al momento de elaborar la liquidacion laborar de un empleado, o de revisar su propia liquidación
                    <a href="{% url 'liquidacion:full_form' %}" class="pure-button pure-button-primary">Formulario Completo</a>
                </p>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-4">
                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Formulario Empleado Por Dias
                </h3>
                <p>
                    Al momento de liquidar las prestaciones sociales a un empleado que trabaja por dias, es necesario
                    entrar a considerar ciertos aspectos. estos son el numero de dias a la semana que trabaja y
                    el salario por dia trabajado, este formulario permite calcular este tipo de liquidacion de una
                    manera mas sencilla.
                    <a href="{% url 'liquidacion:dias_servicio_form' %}" class="pure-button pure-button-primary">Empleado Por Dias</a>
                </p>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-4">
                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Formulario Empleado Obra o Labor
                </h3>
                <p>
                    Para realizar la liquidacion de las personas que trabajan por obra o labor, se necesita
                    conocer que tan avanzada estaba la obra al momento de liquidar, ademas si se trata de empleados
                    del sector de la construccion el articulo 310 del codigo sustantivo de trabajo establece una forma
                    especial para calcular esta liquidacion, aunque este articulo esta sujeto a debate sobre si se ha
                    derogado tacitamente lo incluimos y dejamos al usuario elegir si calcular la liquidacion con base
                    en este articulo o no.
                    <a href="{% url 'liquidacion:obra_labor_form' %}" class="pure-button pure-button-primary">Empleado Por Obra Labor</a>
                </p>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-4">
                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Formulario Empleado Termino Fijo
                </h3>
                <p>
                    Para la liquidacion de empleados a termino fijo, lo mas importante es conocer la fecha de liquidacion
                    y la fecha en que estaba estipulado terminaria el contrato,  mediante este formulario  se podra
                    realizar este calculo sin problemas.
                    <a href="{% url 'liquidacion:termino_fijo_form' %}" class="pure-button pure-button-primary">Termino Fijo</a>
                </p>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-4">
                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Formulario Termino Indefinido
                </h3>
                <p>
                    Para los empleados a termino indefinido se excluyen del formulario completo aquellos campos que
                    no son necesarios con el objetivo de simplificar el calculo de la liquidacion.
                </p>
            </div>

        </div>
    </div>


</div>



{% endblock %}

