<!--TODO  make a header from pure.io landing page-->
{% extends 'liquidacion/base.html' %}

{% block content %}
<h1>Home Page:</h1>
<!--FIXME el splash container  se sobrepone al texto-->
<div class="splash-container">

    <div class="splash">
        <h1 class="splash-head">Liquidacion Laboral Colombia</h1>
        <p class="splash-subhead">
        <a href="{% url 'liquidacion:full_form' %}" class="pure-button pure-button-primary">Formulario Completo</a>
        <a href="{% url 'liquidacion:dias_servicio_form' %}" class="pure-button pure-button-primary">Empleado Por Dias</a>
        <a href="{% url 'liquidacion:obra_labor_form' %}" class="pure-button pure-button-primary">Empleado Por Obra Labor</a>
        <a href="{% url 'liquidacion:termino_fijo_form' %}" class="pure-button pure-button-primary">Termino Fijo</a>
        </p>
    </div>
</div>
<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Empleado Por Dias.</h2>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-4">
                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Formulario Completo
                </h3>
                <p>
                    <!--FIXME change this text does not goes here-->
                    A traves de esta herramienta usted podrá elaborar cualquier liquidación laboral que necesite, el formulario
                    cuenta con todos los campos necesarios para dar solucion a un sin numero de posibles eventos que se den
                    al momento de elaborar la liquidacion laborar de un empleado, o de revisar su propia liquidación
                </p>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-4">
                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Formulario Empleado Por Dias
                </h3>
                <p>
                    El Formulario esta diseñado para poder calcular liquidacion laboral de empleados por dias
                    que se requiera....
                </p>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-4">
                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Formulario Empleado Obra o Labor
                </h3>
                <p>
                    El Formulario esta diseñado para calcular liquidacion laboral empleados que trabajen por obra o labor
                    que se requiera....
                </p>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-4">
                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Formulario Empleado Termino Fijo
                </h3>
                <p>
                    El Formulario esta diseñado para poder calcular liquidacion laboral empleado a termino fijo
                    que se requiera....
                </p>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-4">
                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Formulario Termino Indefinido
                </h3>
                <p>
                    El Formulario esta diseñado para poder calcular liquidacion laboral a termino indefinido
                    que se requiera....
                </p>
            </div>

        </div>
    </div>
</div>



{% endblock %}

