{% extends 'liquidacion/base.html' %}

{% block content %}
<h1>Termios y Condiciones</h1>

<h2>1. Conducta</h2>
<p>Dentro de tus interacciones digitales con otros usuarios, incluidos pero no restringrido a foros, mensajes,
articulos, y comentarios, tu acuerdas mantener una conducta civilizada y respetuosa, bajo ninguna circunstancia
molestaras o faltaras al respeto a ningun usuario o a la pagina misma. Ingenium Computantis, se reserva el derecho
de determinar de manera discrecional que constituye molestia o falta de respeto, en ese orden de ideas puede
parcial o completamente, negar el servicio a cualquier infractor asi como la eliminacion de aquellos mensajes
molestos.</p>

<h2>2. Propiedad Intelectual</h2>
<p>Todos los derechos de autor, marcas registradas, patentes y cualquier otra propiedad intelectual dentro de esta
pagina pertenecen a Ingenium Computantis o sus asociados, Ingenium Computantis se reserva los derechos sobre
el contenido de esta pagina, nada en los terminos y condiciones te garantiza algun derecho o te licencia para
usar alguna marca registrada, diseño o derecho de autor propio o controlado por Ingenium Computantis.</p>

<h2>3. Aviso Legal</h2>
<p>Las herramientas y la informacion que en este sitio se publican se basan en: <br>
    <b>Primero.</b>  en las leyes vigentes al    momento de la actualizacion del sitio, por lo tanto
    Ingenium Computantis no se hace responsable por algun error debido a los cambios en la legislacion posterior a
    la fecha de actualizacion. <br>
    <b>Segundo.</b>  En nuestro criterio, en caso que las leyes no sean lo suficientemente claras será el criterio de
    nuestros expertos el que determine el comportamiento de las herramientas y la veracidad de la informacion,
    sin embargo las autoridades pueden tener un criterio diferente, esto hace que en ciertos casos las herramientas y
    la informacion del sitio no sean del todo confiables, Ingenium Computantis no se hace responsable por las
    diferencias entre nuestro criterio y el criterio de las autoridades. <br>
    <b>Tercero.</b> En el buen uso de los usuarios, debido a que son herramientas des-asistidas y a que es información
    gratuita, se pueden presentar errores de interpretacion o de uso de estas, en caso de tener alguna duda el usuario
    puede consultar con nuestros expertos, Ingenium Computantis no se hace responsable del mal uso del contenido aqui
    publicado esta sera responsabilidad exclusiva del usuario.
</p>
<p>En cualquier caso hemos dispuesto varios canales de comunicacion como son un chat linea, redes sociales y
un formulario de contacto, todo con el objetivo de poder atender sus dudas, comentarios, sugerencias, reporte de
errores o infracciones a los derechos de autor y asi lograr perfeccionar continuamente nuestros contenidos.</p>

<h2>4. Dispocisiones Finales</h2>

<p>Ingenium Computantis podrá en cualquier momento disponer del contenido propio, y no se hace responsable por fallas
debido al servicio de internet, o  cualquier otro servicio de nuestros proveedores de infraestructura. Tambien nos
reservamos el derecho de modificar o terminar cualquier contenido de manera temporal o permanentemente a nuestra
discrecion</p>

<p>Al hacer uso de los contenidos en esta pagina, tu estas aceptando los terminos y condiciones, en caso de no aceptarlos
puedes decidir no hacer uso de los contenidos.</p>

{% end block %}}